{% load static %}
<html>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/blogapp.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <head>
        <title>Sarthak's Blog</title>
    </head>
    <body>

        <div class = "page-header">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
                                    
            {% if user.is_authenticated %}
             <h4><a  href="{% url 'home' %}" class="top-menu"><span>Blogs</span></a></h4>
             <h4><a  href="{% url 'logout' %}" class="top-menu"><span>Logout</span></a></h4>
            {% else %}
             <h4><a  href="{% url 'login' %}" class="top-menu"><span>Login</span></a></h4>
             <h4><a  href="{% url 'register' %}" class="top-menu"><span>Register</span></a></h4>
            {% endif %}
            <h1><a href = "/">Mind Blog</a></h1>
            
        </div>
        <br>
        <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        {% if messages %}
                        {% for message in messages %}
                    <div class = "alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div> 
    </body>
</html>